version: "3.9"
services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - /app/node_modules
      - .:/app
  tests:
    build: 
      context: .
      dockerfile: Dockerfile.dev
    command: ["npm", "run", "test"] # override default command
    volumes:
      - /app/node_modules
      - .:/app